.testimonials {
  margin: 80px auto;
  padding: 0 80px;
  position: relative;
}

.back-btn,
.next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 15px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #212ea0;
}

.back-btn {
  left: 2%;
}

.next-btn {
  right: 2%;
}

/* ------- media queries ---------- */

@media (max-width: 800px) {
  .testimonials {
    padding: 0 40px;
  }
  .next-btn,
  .back-btn {
    padding: 10px;
    width: 35px;
  }
  .testimonials ul li {
    padding: 10px;
  }
}
