* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.star-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .star-rating {
    display: flex;
    justify-content: center;
    align-items: center;

    .active {
      color: #fff700;
    }

    .inactive {
      color: #000000;
    }
  }
  .thank-you-message {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    color: #333;
  }
}